{
    "SIDE_MENU_TITLE": "Kmail-menu"
  , "SIDE_MENU_OPTIONS":[{"name":"Send email","target":""},
                         {"name":"All Members","target":""},
                         {"name":"Change list","target":""}]
}