{
     "SERVER_URL": "http://sandbox.kuaminika.com/dev/heartmindequation.com/"
   , "APP_NAME":"KMailList"
   , "MESSAGE_CONTEXT_SEND2ALL":"/API/index.php?context=Message&requestAction=sendMessageToAll"
   , "DEFAULT_LIST_ID":2
   , "FETCH_LIST_BY_ID":"/API/index.php?context=Subscriber&requestAction=getSubscribersInList&list_id="
   , "SUBSCRIBER_ADD_TO_LIST":"/API/index.php?context=Subscriber&requestAction=addSubscriberToList"
   , "SUBSCRIBER_REMOVE_FROM_LIST":"/API/index.php?context=Subscriber&requestAction=removeFromList"
 }